#eks{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    font-family: "Oswald", sans-serif;
    font-style: normal;
    align-items: center;
    margin-bottom: 50px;
}
li{
    padding: 10px;
    font-size: 16pt;
    color: darkgreen;
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-weight: 100;
}
